<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.userName %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>
  <strong>Penalty:</strong>
  <%= @user.penalty %>
</p>

<p>
  <strong>admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Back', users_path %>
