<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Bookcode:</strong>
  <%= @book.BookCode %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Numofcopies:</strong>
  <%= @book.numOfCopies %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @book.popularity %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @book.image_url %>
</p>

<% if !current_user.nil? && current_user.admin?%>
        <td><%= link_to 'Edit', edit_book_path(@book) ,:class => "btn btn-default  btn-xs"%></td>
        <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger btn-xs" %></td>
<%end%>
<% if !current_user.nil? && !current_user.admin? && @book.numOfCopies>0%>
  <%=  link_to 'borrow', new_borrowed_book_path(:user_id=>current_user.id,:book_id => params[:id]) %>
<%end%>


